<style>
  @import url("css/components/container.css") ;
  @import url("css/components/banner.css") ;
  @import url("css/components/card.css") ;
  @import url("css/components/content-cards.css") ;
  @import url("css/components/sidebar.css") ;
  @import url("css/components/page-content.css") ;
  @import url("css/components/avatar.css") ;
  @import url("css/components/button.css") ;
  @import url("css/components/form.css") ;


</style>
body {
	font-family: "Corinthia" ;
	font-size: 15px;
	margin: 0px;
    font-weight: lighter;
}

h1 {
    font-family: "Corinthia" ;
    font-weight: lighter;
    font-size: px;
    margin: 20px;
}

h2 {
    font-family: "Corinthia" ;
    font-weight: lighter;
    font-size: 15px;
    margin: 20px;
}

h3 {
    font-family: "Corinthia" ;
    font-weight: bold;
    font-size: 48px;
    margin: 15px;
}

h4 {
    font-family: "Corinthia" ;
    font-weight: bolder;
    font-size: 36px;
    margin: 30px;
}

h5 {
    font-family: "Corinthia" ;
    font-weight: lighter;
    font-size: 20px;


a {
	text-decoration: none;
}


